body{
    background-color: black;
    margin:0%
}

.header_rouge{
	background-color: rgb(255, 0, 0);
    text-align: center;
    margin-bottom: 0px;
    line-height: 40px;
    margin-top: 0px;
}

.header_bleu{
	background-color: rgb(0, 153, 255);
    text-align: center;
    margin-bottom: 0px;
    line-height: 40px;
    margin-top: 0px;
}

.class_rouge{
    background-image: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
    padding-top: 1%;
    width: 100%;
    padding-bottom: 1%;
    text-align: center; 
}

.class_bleu{
    background-image: linear-gradient(rgb(0, 153, 255), rgb(0, 0, 0));
    padding-top: 1%;
    width: 100%;
    padding-bottom: 1%;
    text-align: center; 
}

.droit{
    background-image: url(/image/mordor_tower_.gif);
    background-repeat: no-repeat;
    margin-top: 5%;
    float:right;
    margin-right: 0;
    padding-bottom: 30%;
    width: 14.5%;
    background-color: black;
}

.gauche{
    background-image: url(/image/modor_tower_gauche.gif);
    background-repeat: no-repeat;
    margin-top: 5%;
    float:left;
    margin-left: 0%;
    padding-bottom: 30%;
    width: 14.5%;
    background-color: rgb(0, 0, 0);
}

.index{
    display:flex;  
    flex-wrap: wrap; 
    margin-left: 20%;
    margin-right: 20%;       
}

.divspace{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

article{
    color: aliceblue;
    margin: 1%;
    padding: 1%;
    border-radius: 14%;
    border-style:groove;
}

div.polaroid {
    display: inline-block;
    justify-content: space-around;
    padding: 1%;
    justify-content: center;
    width: 30%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 153, 255, 0.293), 0 6px 20px 0 rgba(0, 153, 255, 0.299);
    margin-bottom: 25px;
  }
  
div.container {
    color: aliceblue;
    text-align: center;
    padding: 10px 20px;
  }

.photo{
    display: flex;
    padding: 3%;
    justify-content: space-around;
}

.art{
    display:inline-block;
    flex-basis: calc(100% / 2 - 70px );
}
.titre{
    padding: 3%;
    border-radius: 40%;
}

.goodguys p{
    color: rgb(0, 153, 255);
}

.badguys p{
    color: red;
}

h3{
    text-align: left;
    padding-left: 5%;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255, 0, 0);
    padding-left: 45%;
  }